html, body {
  font: 1.4em Helvetica;
  height: 100%;
  text-align: center;
  width: 100%; }

.bg {
  background: url(../images/bg.jpg) no-repeat scroll 0 0 #3f6072;
  display: block;
  height: 800px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0; }
  .bg.skrollable-after {
    display: none; }
  .bg + .bg {
    background-image: url(../images/bg2.jpg); }
    .bg + .bg.skrollable-before {
      display: none; }

header {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  height: 40px;
  left: 0;
  position: fixed;
  top: -41px;
  width: 100%;
  z-index: 2;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  header.show {
    top: 0; }

section {
  position: relative; }

#curtain {
  background-color: #aaa;
  color: #fff;
  padding: 300px 0 500px;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1; }
  #curtain.skrollable-after {
    display: none; }

#main {
  top: 45px;
  width: 100%; }
  #main.skrollable-after {
    margin-top: 476px; }
  #main section {
    padding: 15% 0;
    width: 100%; }
    #main section:nth-child(2n) {
      background-color: #fff;
      color: #fff; }
